body{
    color: green;
}

h1{
    color: green;
    text-align: center;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    color: green;
    text-align: center;
}

span{
    color: purple;
}

img{
    padding-left: 390px;
    width: 500px;
}